<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
  <META http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

  <div>

    <div>
      <a href="#0.1_"><i></i></a>
      <a href="#0.1_"><i></i></a>
      <a href="#0.1_"><i></i></a>
    </div>
    <h3>-Carry your memories with you</h3>
    <h1>
      <p> <%= note.title %> </p>
    </h1>

    <p>
      <%= note.body %>
    </p>
  </div>

</body>

</html>