<h3>Log In</h3>

<form action="/signup" method="POST">

    Username : <input type="text" name="username" placeholder="username">
    <br> <br>

    Password : <input type="password" name="password" placeholder="password">
    <br><br>
    ReEnter Password : <input type="password" placeholder="reenter password">


    <button>Sign Up!</button>



</form>