<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/homepage-css.css">
</head>

<body>
    <header>
        <nav>
            <a href="" class="title">NOTED.</a>
            <a href="" class="menu-icon"><img src="images/nav-icon.png" alt="nav-icon" height="30px" float="right"></a>
        </nav>
        <div class="animate">
            <p>Note,Edit,Delete and Sync</p>
        </div>
        <!--<h1>Note,edit,delete,and sync.</h1>-->
        <a href="/signup">
            <button type="button" class="btnStarted" id="get-started">Get started</button>
        </a>
        <span class="a">
            <h3>Already a member?</h3>
        </span>
        <span class="a">
            <a href="/login">
                <button type="button" class="btnLog" id="log-in">LogIn</button>
            </a>

        </span>
    </header>
    <div class="about">
        <p>What is Noted? </p>
    </div>
    <div class="features-class">
        <h2 class="feature-h">Features</h2>
        <div class="features">
            <div class="feature"><img src="images/girl-note.svg" height="200px">
                <h3>Take Notes on the go</h3></a>
            </div>
            <div class="feature">
                <img src="images/cloud-sync.svg" height="200px">
                <h3>Server sync, so you never
                    lose any of your
                    notes</h3>
            </div>
            <div class="feature"><img src="images/organized-notes.svg" height="200px">
                <h3>All your notes,organized</h3>
            </div>
            <div class="feature"><img src="images/boy-stick-notes.svg" height="200px">
                <h3>Lorem ipsum</h3>
            </div>
        </div>
    </div>
    <!--<footer>
        <div class="footer">
            <a href="#">Developers</a>
            <a href="#">Privacy</a>
            <a href="#">Help</a>
        </div>
    </footer>-->
    </div>

</body>

</html>