<!DOCTYPE html>

<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Notes-display</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/note-display-css.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"
                    style="color:whitesmoke; font-family: 'Courier New', Courier, monospace; font-weight: 600;">NOTED.</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="note-display-html.html" style="color:whitesmoke;">Home</a></li>
                <li><a href="/logout" style="padding-left: 1900%; color:whitesmoke;">Logout</a></li>
            </ul>
        </div>
    </nav>
    <header>
        <p>Your Notes</p>

    </header>
    <!--Default Navbar Start Here-->

    <!--<nav> tag end-->
    <div class="search-create">
        <!--<form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>-->
        <a href="/notes/new">
            <button type="button" class="btn btn-primary">Create New
            </button>
        </a>

    </div>

    <div class="display-list">
        <ul>

            <% for(var i=0; i<notes.length ; i++){ %>
            <li>
                <div class="note">
                    <div class="note-title">
                        <h1><%= notes[i].title %></h1>
                    </div>
                    <div class="toright">
                        <form action="/notes/<%= notes[i]._id %>" method="GET">

                            <button type="submit" class="btn btn-primary"
                                style="width: 75px; height:40px;">Open</button>


                        </form>
                    </div>
                </div>

            </li>
            <% } %>


        </ul>
    </div>
    <script src="note-display-js.js" async defer></script>
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
</body>

</html>