body {
    background-color: #c7f0db;
    background-repeat: no-repeat;
}

.panel {
    margin: auto;
    display: block;
    border: 2px solid #464159;
    border-style: solid;
    width: 60%;
    height: 100%;
    padding: 0%;
    text-align: center;
    background-color: white;
    font-family: sans-serif;
}

.text-area {
    height: 450px;
}

.text-title {
    font-size: 32px;
    font-weight: 200;
}

.body-class {
    display: block;
}

header {
    height: 10px;
}

.btn-edit {
    height: 1px;
    width: 30px;
    padding: 2%;
    text-align: center;
}

.btn {
    background-color: #464159;
}

.navbar navbar-default {
    height: 10px;
    background-color: #8bbabb;
}

.container-fluid {
    background-color: #464159;
    color: whitesmoke;
}